img{
    height: 300px;
    width: 400px;
    margin: 20px;
    display: block;
}

body{
    background-color: purple;
    margin-left: 50px;
}

article{
    display: inline-block;
    background-color:white;
    width: 450px;
    height: 400px;
    text-align: center;
}

header{
    height: 300px;
}


section :hover{
     animation: rotateAnim 3s normal;
}

@keyframes rotateAnim {
    from {transform: rotateY(0);}
    to {transform: rotateY(180deg);}
}