ul{
    list-style-type: none;
    padding: 0px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.822);
    border-radius: 6px;
    border:1px solid rgba(255, 255, 255, 0.671);
}

li{
    display: inline-block;
    width: 100px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border-right: 1px solid #CCCCCC;
    text-align: center;
    line-height: 40px;
    font-style: italic;
    color: white;
}

header{
    font-style: italic;
    border-bottom: 1px solid black;
    color: black;
}

section{
    border: 1px black solid;
    margin-bottom: 1cm;
    margin-right: 4cm;
    margin-left: 4cm;
    margin-top: 1cm;
    background-color: white;
}

h2{
    text-align: center;
    margin:2cm;
}
.div1 img{
    float: left;
    position:relative;
    height:15cm;
}
.div2 img{
    float: right;
    position:relative;
    height:15cm;
}

.div3{
    float: left;
    position: relative;
    margin-right: 1cm;
}

.div2{
    text-align: right;
}