img{
    height: 300px;
    width: 400px;
    margin: 20px;

}

body{
    background-color: purple;
    margin-left: 50px;
}

div{
    display: inline-block;
    width: 450px;
    height: 400px;
    text-align: center;
}

header{
    height: 300px;
}

  .flip-card-inner {
    position: relative;
    width: 450px;
    height: 400px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    width: 450px;
    height: 400px;
    backface-visibility: hidden;
    position: absolute;
  }
  
  .flip-card-front {
    background-color: white;
    color: black;
  }
  
  .flip-card-back {
    background-color: white;
    transform: rotateY(180deg);
    text-align: center;
    position:relative;
  }