header{
    background-color: rgba(228, 136, 83, 0.699);
    text-align: center
}

h1{
    text-align: center;
}

section{
    text-align: center
}

.img :hover{
    border-radius: 50%;
    display: block;
    display: flex;
    align-content: center;
}

body{
    background-color: brown;
}

.img{
    height: 200px;
    width: 250px;
}