body{
    background-color: rgb(175, 133, 133);
}

section{
    text-align: center;
    background-color: antiquewhite;
}

img{
    height: 650px;
    width: 600px;
    border-radius: 20%;
}
img :hover {
    border-radius: 50%;
    box-shadow: 2px, red
}

