.div1{
    text-align: center;
    border-radius: 10px;
    background-color: rgba(104, 99, 90, 0.712);
    margin: 2cm;
    padding: 10px;
    color: white;
}

.div2{
    text-align: center;
    border-radius: 10px;
    background-color: rgba(145, 150, 139, 0.575);
    margin: 2cm;
    padding: 10px;
    
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.932);
    border-radius: 6px;
    border:1px solid rgba(255, 255, 255, 0.671);
}

ol{
    display: inline-block;
    width: 300px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 40px;
    color: white;
}

ol:hover{
    background-color: blue;
}

header{

    border-radius: 10px;
    padding-bottom: 10px;
    background-position-y: 78px; 
}

body{
    background-color: rgba(200, 228, 125, 0.301);
    font-family: 'Times New Roman', Times, serif;
    background-image: url(/IDR_THEME_NTP_BACKGROUND@2x.png);
    background-size: 1920px 1080px;
    background-attachment: fixed;
}

section{
    background-color: rgba(141, 125, 96, 0.774);
    margin: 2cm;
    border-radius: 10px;
    padding: 10px;
}

thead th{
    background-color: rgba(129, 111, 28, 0.644);
    border:1px black solid;
}

section h1{
    text-decoration: underline black;
    text-align: center;
}

table tr td{
    border: 1px black solid
}

table{
    border: solid black 1px;
    border: 3;
    width: 100%;
    margin: auto;
}

td{
    width: 10px;
    height: 10px;
}

h2{
    font-size : large;
}

.hautdepage{
    text-decoration: none;
    color: black;
}